*{
    
}
@media screen and (max-width: 1440px) {
                
    @font-face {
        font-family: pop;
        src: url(fonts/Poppins-Regular.ttf);
    }
    @font-face {
        font-family: pop bold;
        src: url(fonts/Poppins-Bold.ttf);
    }
    body{
        background-color: hsl(0, 100%, 74%);
        background-image: url(images/bg-intro-desktop.png);
        font-family: pop;
    }
    main{
        padding: 5rem;
        display: flex;
        gap: 6rem;
        position: absolute;
    }
    .tri-n-form{
        display: flex;
        flex-direction: column;
        gap: 19px;
        align-items: center;
    }
    .trial-info{
        padding: 30px;
        width: 87%;
        background-color: hsl(248, 32%, 49%);
        text-align: center;
        color: white;
        font-size: 10px;
        border-radius: 10px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.225);
        


    }
    .trial-info small{
        font-size: smaller;
        font-weight: 100;
    }
    .form{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        align-items: center;
        width: 450px;
        height: 400px;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
    }
    .form input{
        width: 80%;
        height: 80%;
        border: .5px solid hsl(246, 25%, 77%);
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        font-family: pop bold;
        font-weight: 1px;
        text-transform: capitalize;
    }
    .form button{
        color: white;
        background-color: hsl(154, 59%, 51%);
        padding: 20px;
        border: none;
        border-radius: 10px;
        width: 380px;
        font-family: pop bold;
        text-transform: uppercase;


    }
    .form p{
        text-align: center;
        font-size: 12px;
        color: hsl(246, 25%, 77%);
    }
    .form p span{
        color:  hsl(0, 100%, 74%) ;
    } 
    .info{
        color: white;
        position: relative;
        margin-top: 10%;
        top: 0;
        bottom: 0;
    
    }  
    .info h1{
        font-family: pop bold;
        font-size: 50px;
        margin-bottom: 20px;
    } 
}    

@media screen and (max-width: 375px) {
    body{
        background-image: url(images/bg-intro-mobile.png);
    }
    main{
        flex-direction: column;
        padding: 1.5rem;
        width: 100%;
    }
    .trial-info{
        padding: 35px;
        width: 90%;
    }
    .info{
        width: 100%;
        text-align: center;
    }
    .info h1{
        font-size: 40px;
    }
    .form{
        width: 100%;
    }
    .form button{
        width: 300px;
    }

    
}